body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color:  rgba(151,157,181,1);
  --main-color: rgb(63, 68, 90);
  --main-color-p: rgb(85, 92, 119);
  --main-color-opaque: rgb(212, 222, 232);
  --main-color-transparent: rgba(165, 171, 192, 0.8);
  background: radial-gradient(ellipse at top, #d4dee8 0%, var(--main-bg-color) 100%);
  color: var(--main-color);
}

html, body, #root, .App {
  min-height: 100vh;
}

.main {
  padding-bottom: 25%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

p {
  margin-bottom: 0px;
  color: var(--main-color-p);
}

.nav {
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.nav-item {
  height: 100%;
  display: inline-block;
}

.nav-link {
  height: 100%;
  line-height: 55px;
  font-weight: 500;
  color: var(--main-color-p);
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--main-color-opaque);
  text-shadow: var(--main-color-opaque) 0px 0px 1px;
  font-size: 1.1rem;
}

.row {
  margin-right: 0rem;
}

div.underlined {
  border-bottom: var(--main-color-transparent) 1px solid;
}

button.btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 1.5rem;
  color: var(--main-color);
  font-weight: 500;
  transition: 0.3s;
}

button.btn:hover {
  font-size: 1.1rem;
}

button.btn:active, button.btn:focus {
  box-shadow: var(--main-color-transparent) 0px 0px 1px 3px;
}

.form-group {
 margin-top: 1rem;
}

label {
  padding-bottom: 1rem;
  color: var(--main-color-p);
}

input {
  color: var(--main-bg-color);
}

.profiletab:hover, .profiletab.active {
  text-shadow: white 0px 0px 3px;
}

.profiletab.active {
  font-size: 1.6rem;
}

p.faq-header, p.ticket-header {
  font-size: large;
  font-weight: 500;
}

span.plus-minus {
  padding: 5px;
  font-weight: 900;
}

span.ticket-status {
  background-color: var(--main-bg-color);
  color: antiquewhite;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.alert {
  position: fixed;
  top: 75px;
  right: 0;
  width: 30%;
  z-index: 1;
}

@media screen and (max-width:1024px) {
  .alert {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  .alert {
    width: 100%;
  }
}